*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  background:#f4f6f9;
  overflow-x: hidden; 
}


.topbar{
  position: sticky;
  top: 0; 
  z-index: 999; 
  padding-left: 0;
  padding-right: 20px;
  display:flex; 
  align-items:center; 
  justify-content:space-between; 
  flex-wrap: wrap; 
  background:#21216c; 
  height:55px; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.25), 0 2px 6px rgba(0,0,0,0.15); 
}


.logo{
  display:flex;
  align-items:center;
  gap:15px;
  font-weight:600;
  color:white;
  font-size:16px;
}

.logo img{
  border-radius: 50%;
  height: 42px;
  width:auto;
}


.menu{
  list-style:none;
  display:flex;
  gap:30px;
  flex-wrap: wrap; 
}

.menu li{
  position:relative;
}

.menu a{
  text-decoration:none;
  color:white;
  font-size:14px;
  padding:10px 5px;
  display:block;
  transition:0.3s;
}

.menu > li > a:hover{
  color:#ffdd57; 
}


.submenu{
  list-style:none;
  position:absolute;
  top:50px;
  left:0;
  background:white;
  min-width:220px;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
  border-radius:8px;
  opacity:0;
  visibility:hidden;
  transform:translateY(10px);
  transition:0.3s ease;
  z-index:100;
}

.dropdown:hover > .submenu{
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}

.submenu li{
  border-bottom:1px solid #e2e8f0;
}

.submenu a{
  padding:12px 15px;
  color:#21216c;
  transition:0.3s;
}

.submenu a:hover{
  background:#f0f4ff;
  color:#21216c;
  border-radius:5px;
}


.nested-submenu{
  list-style:none;
  position:absolute;
  left:220px;
  top:0;
  background:#ffffff;
  min-width:200px;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
  border-radius:8px;
  opacity:0;
  visibility:hidden;
  transform:translateX(10px);
  transition:0.3s ease;
  z-index:150;
}

.nested-dropdown:hover > .nested-submenu{
  opacity:1;
  visibility:visible;
  transform:translateX(0);
}

.nested-submenu li{
  border-bottom:1px solid #e2e8f0;
}

.nested-submenu a{
  padding:12px 15px;
  color:#21216c;
  transition:0.3s;
}

.nested-submenu a:hover{
  background:#f0f4ff;
  color:#21216c;
  border-radius:5px;
}


.profile{
  display:flex;
  align-items:center;
  gap:10px;
  position:relative;
  cursor:pointer;
  color: white;
}

.profile img{
  width:38px;
  height:38px;
  border-radius:50%;
}

.profile-menu{
  list-style:none;
  position:absolute;
  right:0;
  top:55px;
  background:white;
  min-width:160px;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
  border-radius:8px;
  opacity:0;
  visibility:hidden;
  transform:translateY(10px);
  transition:0.3s ease;
  z-index:200;
}

.profile:hover .profile-menu{
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}

.profile-menu li{
  border-bottom:1px solid #e2e8f0;
}

.profile-menu a{
  display:block;
  padding:12px 15px;
  text-decoration:none;
  color:#21216c;
  transition:0.3s;
}

.profile-menu a:hover{
  background:#f0f4ff;
  color:#21216c;
  border-radius:5px;
}


.content{
  padding:40px;
}